# Ignore node_modules directory
node_modules/

# Ignore logs directory
logs/

# Ignore editor files
editor/

# Ignore swap files
*.swp

# Ignore some common files and directories in Node.js projects
.DS_Store
.env
.idea/
.vscode/
.nyc_output/
coverage/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
