name: Chrome Extension CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure Git
        run: |
          git config --global user.email "vikash27hbk@gmail.com"
          git config --global user.name "vikash279"
          git branch new-branch
          git checkout -b new-branch
          git add .
          git commit -m "Commit message"
          git push https://${{ secrets.PAT }}@github.com/Technodroidz/ExtensionApp.git --set-upstream origin new-branch
      
      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Build extension
        run: npm run build

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            dist/*.zip
            dist/*.crx
