name: Chrome Extension CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            dist/*.zip
            dist/*.crx

      - name: Release extension
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.PAT }}"
          files: "dist/*"
          prerelease: false
          draft: false
          automatic_release_tag: false
          release_name: "Release ${{ github.ref }}"
          body: "Automated release of ${{ github.ref }}."
