name: Chrome Extension 

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
    - uses: actions/checkout@v2
    - name: Configure Git
      run: |
        git config --global user.email "vikash27hbk@gmail.com.com"
        git config --global user.name "Vikash Rai"
    - name: Commit Changes
      run: |
        git add .
        git commit -m "Automatically committed by GitHub Actions"
        git push 
