name: Chrome Extension CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./ChromeExtApp

      - name: Run tests
        run: npm test
        working-directory: ./ChromeExtApp

  build-and-release:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./ChromeExtApp

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            dist/*.zip
            dist/*.crx 

      - name: Release extension
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.PAT }}"
          files: "dist/*"
          tag_name: ${{ github.ref }}
          prerelease: false
          draft: false
          automatic_release_tag: false
          release_name: "New Release"
          body: "Automated release of ${{ github.ref }}."

  build-only:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && !startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./ChromeExtApp

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            dist/*.zip
            dist/*.crx
