name: Chrome Extension CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.actor != 'my_bot_account'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ChromeExtApp

      - name: Run tests
        run: npm test
        working-directory: ChromeExtApp

  build-and-release:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ChromeExtApp

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: ChromeExtApp/dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ChromeExtApp/dist/*.zip

      - name: Release extension
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.PAT }}"
          files: "ChromeExtApp/dist/*"
          title: chromeext${{ github.event.release.tag_name }}-$(date +%s)
          prerelease: false
          draft: false
          automatic_release_tag: "Chrome-New-Release"
          overwrite: true
          asset_upload_url: "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.RELEASE_ID }}/assets{?name,label}"

  build-only:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && !startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ChromeExtApp

      - name: Archive extension
        uses: actions/upload-artifact@v2
        with:
          name: extension
          path: ChromeExtApp/dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ChromeExtApp/dist/*.zip
