name: Laravel

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main    

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install dependencies
        run: composer install
        working-directory: ./WebAndApiExt
          
      - name: Build package
        run: php artisan package:discover && composer build
        working-directory: ./WebAndApiExt

      - name: Publish package
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.event.release.tag_name }}
          release_name: "New Release"
          body: ${{ github.event.release.body }}
          draft: false
          prerelease: false
          token: ${{ secrets.PAT }} 
