name: Release

on:
  push:
    branches:
      - main

jobs:
  build-and-package:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      
      - name: Build and Package Safari Extension
        run: |
          cd SafariExtApp
          npm install
      - name: Move Safari Extension Artifact
        run: mv SafariExtApp/dist/*.zip ./safari-extension.zip
      
     
      - name: Build and Package Chrome Extension
        run: |
          cd ChromeExtApp
          npm install
      - name: Move Chrome Extension Artifact
        run: mv ChromeExtApp/dist/*.zip ./chrome-extension.zip
      
      
      - name: Build and Package Web API Extension
        run: |
          cd WebAndApiExt
          npm install
      - name: Move Web API Extension Artifact
        run: mv WebAndApiExt/dist/*.zip ./web-api-extension.zip
      
    
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: all-artifacts
          path: |
            safari-extension.zip
            chrome-extension.zip
            web-api-extension.zip

  create-release:
    needs: build-and-package
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Create Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.PAT }}
          title: v1.0${{ github.event.release.tag_name }}
          automatic_release_tag: "New-Release"
      
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: all-artifacts