name: Generate and Deploy IPA to TestFlight

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Xcode
        run: sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Install dependencies
        run: pod install
        working-directory: ./SafariExtApp

      - name: Build and Archive
        run: xcodebuild -workspace extApp.xcworkspace -scheme SafariExtApp -destination "generic/platform=iOS" clean archive -archivePath extApp.xcarchive
        working-directory: ./SafariExtApp
        
      - name: Create IPA
        run: xcodebuild -exportArchive -archivePath extApp.xcarchive -exportPath . -exportOptionsPlist exportOptions.plist -allowProvisioningUpdates

      - name: Install fastlane
        run: sudo gem install fastlane -NV

      - name: Upload to TestFlight
        run: fastlane pilot upload -u info@technodroidz.in -a com.safarinew.com.SafariExtension -f SafariExtApp.ipa

      - name: Upload IPA to GitHub Releases
        uses: svenstaro/upload-release-action@v2
        with:
          args: SafariExtApp.ipa
