name: Safari Extension CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main       

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install Bundler
        run: gem install bundler
        working-directory: ./SafariExtApp
     
      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./SafariExtApp

      - name: Run tests
        run: npm test
        working-directory: ./SafariExtApp


  build-and-release:
    needs: test
    if: github.event_name == 'release' || github.event_name == 'push'
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install Bundler
        run: gem install bundler
        working-directory: ./SafariExtApp
        
      - name: Install Node.js and NPM
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install
        working-directory: ./SafariExtApp   

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ./SafariExtApp/dist/*.zip

      - name: Release extension
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.PAT }}
          files: ./SafariExtApp/dist/*.zip
          title: safariext${{ github.event.release.tag_name }}-$(date +%s)
          prerelease: false
          draft: false
          automatic_release_tag: "Safari-New-Release"
