name: Safari Extension CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main       

jobs:
  test:
    runs-on: macOS-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install Bundler
        run: gem install bundler
        working-directory: ./SafariExtApp


      - name: Run tests
        run: bundle exec rspec
        working-directory: ./SafariExtApp

  build-and-release:
    needs: test
    if: github.event_name == 'release'
    runs-on: macOS-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install Bundler
        run: gem install bundler
        working-directory: ./SafariExtApp


      - name: Build artifacts
        run: bundle exec rake build
        working-directory: ./SafariExtApp

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ./SafariExtApp/dist/*.safariextz

      - name: Release extension
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.PAT }}
          files: ./SafariExtApp/dist/*.safariextz
          tag_name: safariext${{ github.event.release.tag_name }}
          prerelease: false
          draft: false
          automatic_release_tag: false
          release_name: "New Release"
          body: "Automated release of ${{ github.ref }}."
